{% block form_start %}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' form')|trim}) %}
	<form{% with {attr: attr} %}{{ block('attributes') }}{% endwith %}>
{% endblock %}

{% block form_row %}
	{% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' field field--' ~ block_prefixes[1]|default('text'))|trim}) %}
	<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
		{{ form_label(form) }}
		{{ form_widget(form) }}
		{{ form_errors(form) }}
	</div>
{% endblock %}

{% block choice_widget_expanded %}
	<div class="choices" {{ block('widget_container_attributes') }}>
		{% for child in form %}
			<div class="choice">
				{{ form_widget(child) }}
				{{ form_label(child) }}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block form_errors %}
	{% if errors|length > 0 %}
		<div class="text-red-700">
			<ul>
				{% for error in errors %}
					<li>{{ error.message }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
